<div class="container">
    <div class="logo">
      <img src="assets/artisetLogo.png" alt="Artiset Logo">
    </div>
  
    <div class="reset-password-box">
      <div class="icon">
        <img src="assets/reset-password.png" alt="Lock Icon">
      </div>
      <h2>Reset your password</h2>
      <p>Your new password must be different from previously used passwords</p>
  
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
 
        <div class="input-field">
          <input 
            type="password" 
            formControlName="newPassword" 
            placeholder="Enter New Password"
            [ngClass]="{'invalid': passwordForm.controls['newPassword'].invalid && passwordForm.controls['newPassword'].touched}">
        </div>
  
        <div class="input-field">
          <input 
            type="password" 
            formControlName="confirmPassword" 
            placeholder="Confirm Password"
            [ngClass]="{'invalid': passwordForm.controls['confirmPassword'].invalid && passwordForm.controls['confirmPassword'].touched}">
        </div>
  
      
        <div *ngIf="errorMessage" class="error-message" [style.color]="isSuccess ? 'green' : 'yellow'">
          {{ errorMessage }}
        </div>
  
        <!-- Submit Button -->
        <button type="submit">Reset password</button>
      </form>
    </div>
  </div>
  