<!-- <div class="container">
    <div class="logo">
      <img src="assets/artisetLogo.png" alt="Artiset Logo">
    </div>
  
    <div class="login-box">
      <div class="icon">
        <img src="assets/lock-icon.png" alt="Lock Icon">
      </div>
      <h2>Trouble logging in?</h2>
      <p>Enter your email and we'll send you an OTP to get back into your account.</p>
  
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <input 
          type="email" 
          placeholder="Email" 
          formControlName="email" 
          [ngClass]="{'invalid': emailInvalid}"
          required
        >
        <button type="submit">Submit</button>
      </form>
  
    
      <div *ngIf="emailInvalid" class="error-message">
        {{ getEmailErrorMessage() }}
      </div>
  
      <div class="footer-text">
        <p>Remember your password? <a routerLink="/login">Login</a></p>
        <p>Need an account? <a routerLink="/register">Register</a></p>
      </div>
    </div>
  </div>
   -->

   <div class="container">
    <div class="logo">
      <img src="assets/artisetLogo.png" alt="Artiset Logo">
    </div>

    <div class="login-box">
      <div class="icon">
        <img src="assets/lock-icon.png" alt="Lock Icon">
      </div>
      <h2>Trouble logging in?</h2>
      <p>Enter your email and we'll send you an OTP to get back into your account.</p>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <input 
          type="email" 
          placeholder="Email" 
          formControlName="email" 
          [ngClass]="{'invalid': emailInvalid}"
          required
        >
        <button type="submit">Submit</button>
      </form>

      <div *ngIf="emailInvalid" class="error-message">
        {{ getEmailErrorMessage() }}
      </div>

      <div class="footer-text">
        <p>Remember your password? <a routerLink="/login">Login</a></p>
        <p>Need an account? <a routerLink="/register">Register</a></p>
      </div>
    </div>
  </div>
